// Color Scheme

$white: white;
$gray: gray;
$steelblue: steelblue;
$background-color-newletter:#f2f4f5;
$coral:coral;

// Tipography

// font-family
$monospace: monospace;

// Font Weight
$regular:400;
$bold:700;

// Font Sizes
$x-large:28;
$large:24;
$medio:16;
$small:13;